@{
    ViewData["Title"] = "Bienvenue à l'aéroport";
}
<style>

    form div {
        display: inline-block;
    }

        form div label {
            width: 190px;
            height: 25px;
            border-spacing: 3px;
        }

        form div button {
            width: 190px;
            height: 27px;
            border-spacing: 3px;
        }
</style>
<div class="container">
    <div class="row">
        <h1>Execice de programmation Web ASP.NET Exercice 1 Aéroport</h1>
        <div>
            <form asp-controller="ReserverVol">
                <div>
                    <label> Reserver un vol:</label>
                    <button type="submit">Réserver un vol</button>
                </div>
            </form>
        </div>
 
    </div>
</div>
