h1{
    color:#2F528F;
/*    text-decoration:underline;*/
}
h2{
    color:#ED7D31;
}
h3{
    color:#00B050;
}
h4{
    color:#7030A0;
}
ol{
    color:#0000FF;
}
#i_p1{
    color:#FF0000;
}