/*Positionne bien le body aux coordonnees (0,0)*/
body{
   /* margin: 0;*/
    padding: 0;
    /*option pratique si je veux mettre une image qui bouge pas comme arriere plan 
    mais l'avantage principal est que ca delimite une zone graphique du navigateur paliant a la hauteur infinie de body
    de ce fait JE PEUX ELABORER UN ALGO QUI ME PERMETTE d' exprimer les hauteurs en % 
    ben pratique pour dynamique */      
    position:fixed;
  /*conflit avec 7.7.	Entrez, en majuscule ( entrez le code CSS pour forcer les MAJUSCULES ), tout en haut de la page Web, 
dans <body>, en Titre de Niveau 1 : Votre prénom, votre nom
7.7.1.	Dans  <body>, affichez  en haut à droite, ce : Titre de Niveau 1.  */  

/*  margin-left: 40%;/*5.6.	Centrez tout le contenu de la page Web, HORIZONTALEMENT au centre du conteneur <body>*/  

    position: absolute;
    margin:0px;
    background-color:#EAF7EB; ;
    width: 99.5%;
    height:98%;
   /*   */
}
/*
À l’aide OBLIGATOIREMENT de la technique de sélection :  « à l’aide d’un  Attribut »
qui ne doit pas être : « target », appliquez le CSS  illustré (en haut de la page 2) à l’hyperlien ,
 à l’intérieur du Titre de niveau 2.  Pour la couleur en hexadécimal, consultez un outil de cou-leur.  
 Appliquez une autre couleur de votre choix à l’hyperlien, très différente de la couleur standard normalement
 affectée aux hyperliens.
*/

a[target]{
    color: chocolate;/*ben oui j'adore le chocolat*/
   text-decoration: underline;
}
/* personalisation de l attribut target du hyperlien SSI la valeur de target corespond a 
_blank ou blank les 2 sont equivalent
dans le code du navigateur : #define blank _blank (API GOOGLE C++)*/
a[target="_blank"]{ 
    font-weight: bolder; /* mets en gros gras*/
    color: #FF78AE; /*change de couleur pendant le codage pour le diferencier*/
 }
/*
2.2.3.	Reproduisez exactement toutes ces couleurs de ce numéro 2, en hexadécimal, 
à l’aide des outils de couleurs que nous vous fournissons dans LEA.
Attention !  Vos couleurs doivent être exactement les mêmes que celles 
en haut de la page 2, c’est pourquoi vous aurez besoin d’utiliser des outils de couleurs.
*/
h1,h2{
    text-align: right;
}
h1{
    color: #2F528F;/*colorie le texte du titre de niveau 1*/
    margin-top: -6px;/*7.7.1.	Dans  <body>, affichez  en haut à droite, ce : Titre de Niveau 1.*/
    text-transform: uppercase;/*7.7.	Entrez, en majuscule ( entrez le code CSS pour forcer les MAJUSCULES )*/
}
h2{
    color: #ED7D31;/*colorie le texte du titre de niveau 2*/
    /*7.8.1.	Dans <body>, Sous le Titre de Niveau 1, affichez en haut à droite,  ce Titre de Niveau 2*/   
    margin-top: -14px;
    text-decoration: underline;  /* 7.8.2.	Soulignez ce Titre de Niveau 2   */

}
h3{
    color: #20BA66;/*colorie le texte du titre de niveau 3*/
}
/*4.5.6.	Dans votre code CSS, au-dessus du Sélecteur Titre de niveau 4, qui n’est pas associé à une Pseudo-Class, 
soit, celle que vous aviez déjà codée au numéro et sous-numéros : 3.4.2.   
*/
/*
4.6.2.	Mettez tout le code CSS  du  numéro  3.5. en commentaires.  
Il y aurait un risque que le code du numéro 3.6. entre en conflit avec celui-ci, de ce numéro 4.6.
*/
div > h4{
    margin-top: 0px; /*ajuste la hauteur du <h4>*/
    text-align: center;/*Aligne le texte au centre du titre de niveau 4*/
    color: #94649E; /*colorie en mauve*/ /* n'est pas affectee par une psudo classe*/
}
/*
3.9.1.	Dans Visual Studio Code, juste au-dessus de cette classe, en commentaire, indiquez :
3.9.1.1.	le nom de l’Élément HTML associé à cette class;
 element <p>
3.9.1.2.	Sa localisation, c’est-à-dire : son conteneur parent et son conteneur grand-parent
parent <div>
grand parent <body>
*/
div + p{ /*Un 3è paragraphe à l’extérieur du <div>  en italique (CSS), en bleu pâle et en gras*/
    /*3.9.	Insérez une marge intérieure de 4 pixels à tous les paragraphes  à l’intérieur du <div>
    avec une seule déclaration associée à une class.
    OUI je n ais pas mis ca dans une classe externe pour raison coder efficacement hein Laurent*/
    padding:  4px;
    /*
    3.10.	Insérez une marge extérieure de 3 pixels à tous les paragraphes avec une seule déclaration associée à une class.
    */  
    margin: 3px;/* ai mis la marge externe du paragraphe hors div ici (coder efficacement)*/
    color:#6FD2F7;/* applique du bleu pale au 1er <p> de meme niveau que le <div>*/
    font-style: italic;
    font-weight: bold;
}
/*Note : Si la couleur d’une puce diffère de celle associée au texte qui suit la puce, pour le moment,  ne perdez pas de temps à tenter d’harmoniser les couleurs.  À ce stade-ci, je vais vivre avec ça.
[ ( Exemple :   ii. Maison )  La puce « ii » est noire et le texte « Maison » est vert. ]
*/
 ol , li{
  font-weight:bolder; /*mets les numeros des puce en gras */
  /*solution brutale mais efficace pour mettre les couleurs au chiffres des puces*/
 /* color:#000; */
  /*desactive car conflit avec 6.3.19.	La couleur des polices non modifiées à l’intérieur du <div> devient blanche 
et très très grasse */
}
li{
    font-weight:normal; /*contre les autres item des liste en gras*/   
}
/*
4.5.	À partir du contenu Web situé en haut de la page 2, de ce document-ci,
à l’aide de la Pseudo Class appropriée, que vous retrouverez dans la Web-Leçon-7,
lorsque la souris passera au-dessus du   Titre de niveau 4,  sans cliquer:

4.5.5.	Dans votre code CSS, au-dessus du Sélecteur CSS,     commentez  :
4.5.5.1.	Spécifiez qu’il s’agit d’une police « Google-Font »  jai pris modak comme foogle font 
( Testez dans un Navigateur pour être certain que, ce qui s’affiche est bel et bien une police « Google-Font ») oui oui ca marche 
4.5.5.2.	Spécifiez qu’il s’agit d’une Pseudo-Class et expliquez son fonctionnement.
4.5.5.3.	Remettez le nom de la police de caractère « Google-Font »  dans le commentaire.
4.5.5.4.	Donnez la particularité de cette Pseudo-Class, i.e. , dite ce qui fait réagir cette Pseudo-Class et ce qui se produit au moment où elle réagit.
quand tu survole le texte avec le poiteur de ta souris sans cliquer ca applique les instructions contenu dans le corps de la procedure
puis revient a la normal une fois le pointeur hors champs
*/
h4:hover{
    /* 4.5.1.	appliquez une couleur rouge bourgogne (en mode RGB) au Titre de niveau 4 */
    color: rgb(107, 13,13); /*rouge bourgogne reference source pour le code couleur
    https://www.code-couleur.com/dictionnaire/couleur-r.html
    4.5.2.	appliquez une police Google-Fonts peu connu mais très facilement lisible
    */
    font-family: 'Modak','Segoe UI', 'Courier New'; /*police google Modak*/
    /*  4.5.3.	appliquez un gras CSS léger  ( Commentez ce gras qui doit être « léger » )  
    font-weight entre normal et bold donc lighter*/
   font-weight: lighter; /*gras fin*/
    /*4.5.4.	appliquez un soulignement ( avec une technique CSS ) */
    text-decoration:underline;/*souligne*/
      font-size:20px;/*hauteur en pixel de la police importee*/
    word-spacing: 3px;/*espacement entre les mots*/
    
}

ol{
    margin-left: -20px;/*aligne les liste sur la bordure orange de <div>*/
}
li > span{/*applique du mauve aux items liste sans toucher a la couleur des puces*/
    color: #94649E;
}
/*gere les <P> enfants du <div>*/
.dv_ti p{
   margin: 3px;/*marge exterieur a tous les paragraphes dans div*/
    padding: 4px;/*marge exterieur a tous les paragraphes dans div*/
    color:#FF78AE ;/*mise en couleur des paragraphe <p>dans div*/
    font-weight: bold;/*en gras*/
}
/* Ici, À l’aide de la technique    ‘’sélection d’un élément par rapport à un autre‘’,
les déclarations de style sont affectées aux éléments de type : 
‘’puces ordonnées’’, de 1er niveau, enfant du <div>,  associé à la class : dv_ti  */
/*<div>*/
/*
2.2.1.	L’arrière-plan du <div> est jaune très pâle.
2.2.2.	Reproduisez la bordure du <div> :  style, épaisseur, couleur, courbure des coins
conteneur parent: <body>
conteuneur grand parent <html>
*/
/*
PERSO:: le point 1.4 associea a une classse n'est pas optimal
on pourrait parfaitement ecrire 
body>div au lieu de .dv_ti
*/
.dv_ti{
    position: relative;
    margin-top: -20px;/*remonte le div de 20px pour l'aligner sous le <H3>*/
    background-color: #FFFF99; /*couleur de fond*/ 
    border-color:#ED7D31 ;/*couleur*/
 /*3.7.	Le conteneur  <div> doit être de dimension suffisamment grande pour contenir tout le contenu écrit*/
    width:  280px;/*largeur de <div>*/
 /*   3.8.	La dimension du conteneur  <div> doit être adapté au contenu.  Cela signifie qu’il ne doit pas être plus grand inutilement.  Juste la grandeur nécessaire, ni trop grand ni trop petit.
    Obligatoire : « Dans votre code, commentez comment vous « adaptez la dimension du contenu au conteneur <div> ». 
    Expliquez le fonctionnement.
    element occupant le plus grand espace dans le div + marges + bading +deco = taille max
    pour la hauteur le mem principe mais sur l' axe Y =rayon de l'arondi
    */
    height:240px;/*hauteur de <div> il faut ajouter de l'espace pour le H4:hover afin que le 2e <p> ne deborde pas du <div>*/
    border-radius: 26px;/*rayon de láarrondi pour la bordure*/
    border-width: 6px; /*epaisseur de la bordure*/
    border-style: solid; /*style de bordure*/
    font-weight: bold; /*texte en gras*/
    animation-name: Balon;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    background-color: #FFFF99; /*couleur de fond*/ 
    border-radius: 50%;/*7.10.	Ce <div> totalement circulaire deviendra notre balle animée */
    height: 1.5cm;/*7.9.	Vous devrez donner au <div> une forme totalement circulaire d’une grosseur d’environ ~3 cm  😉    */
    width: 1.5cm;
    /*7.11.	Donnez une épaisseur de 2 pixels et une couleur bourgogne à la bordure de la balle.*/
    border-color:#6B0D0D ;
    border-style: solid; 
    border-width: 2px;
}
/*3.3.	À l’aide de la technique « sélection d’un élément par rapport à un autre »*/
body>div>ol>li{
        color:#18B756;
        font-weight: bold;
}
/*4.6.4.	avant que le lien soit visité	 (Parfois ce CSS est problématique !  
Si ça ne fonctionne pas ne vous obstinez pas.  Retirez la pseudo-class)	
4.6.4.1.	l’hyperlien devra être vert foncé, sans gras, transparent à 0,5 (en mode RGBa)
4.6.4.2.	l’hyperlien devra être en police Arial, italique
*/
a{
    font-family: Arial, Helvetica, sans-serif; /*police arial*/
   color:rgba(3, 117, 3, 0.5);/*vert fonce 50% transparence*/
   font-weight: normal;/*pas de gras sur le lien*/
   font-style: italic;/* en italique*/
}
/*une fois que la cible a etee atteinte 
4.6.6.	Après que l’hyperlien a été visité
4.6.6.1.	l’hyperlien doit revenir à sa taille initiale
4.6.6.4.	l’hyperlien doit reprendre sa police de caractère initiale*/
h2>a:visited{
   color: purple   ;/*4.6.6.2.	la police de l’hyperlien doit devenir de couleur pourpre  (en mode : nom de couleur CSS)*/
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: underline;/*4.6.6.3.	l’hyperlien doit être souligné, pas en italique*/
 }
/*
4.6.5.	Lorsque la souris passe au-dessus de l’hyperlien
4.6.5.1.	l’hyperlien devra prendre la forme d’une police de caractère Google-Font peu connu, mais facilement lisible,
 différente du Titre de Niveau 4
4.6.5.2.	la taille de l’hyperlien doit grossir légèrement mais suffisamment pour être facilement perceptible par les internautes
 ( et surtout par votre correcteur)
4.6.5.3.	la couleur de la police de l’hyperlien doit devenir rose très foncé 
(en mode # hexadécimal)
4
*/
a:hover {/*au survol du lien avec la souris*/
/*   color: rgb(107, 13,13); /*rouge bourgogne reference source pour le code couleur
   https://www.code-couleur.com/dictionnaire/couleur-r.html
   */
   font-weight: lighter; /*gras fin*/
   font-family: 'Markazi Text','Times New Roman' ,'Courier'; /*police google Markazi*/
   text-decoration:underline;/*souligne*/
   font-size:24px;/*hauteur en pixel de la police importee*/
   letter-spacing: 3px;/*espacement entre les lettres*/
   color: #c60091;/*4.6.5.3.	la couleur de la police de l’hyperlien doit devenir rose très foncé (en mode # hexadécimal)*/   
}
/*
4.6.3.	durant le clic, 			( Pour la gestion de tous les types de gras en CSS, revoir la Web-Leçon-3 )
4.6.3.1.	l’hyperlien devra être en police Arial 
4.6.3.2.	l’hyperlien devra être vert clair(en mode RGB), gras très foncé CSS 
*/
a:active{/*quand tu clique ET garde le doigt sur le piton gauche de souris comme en drag'n'drop*/
    font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;/* gras accentue*/
 color: rgb(137, 213, 137);/*vert tres pale*/
    
}
p::first-letter{
    font-family:'Katibeh' Arial, Helvetica, sans-serif ;/*5.4.1.	Appliquez à la 1ère lettre  des <p> de chaque 
    conteneur, une nouvelle police de ca-ractère originale  Google-Font, peu connu, mais très lisible et différente
     de toutes celles utilisées jusqu’à maintenant dans ce TP-Web-7*/   
    font-size: x-large; /*5.4.2.	Augmentez de façon importante la taille de la police de ces 1ère lettres.*/
    text-transform: capitalize;
    color:navy;/*5.4.3.	Coloriez la police de ces 1ère lettres en bleu marine (mode : nom de couleur CSS )
    Note : J’exige spécifiquement ce bleu-là, soit le : « bleu marine ». */
    font-weight: 700;/*5.4.4.	Mettez la police de ces 1ère lettres en gras CSS   avec une valeur numérique*/
    font-style: italic;/*et en italique CSS */

}
    /*
        6.3.5.	Après un délai d’attente d’une seconde, la transition commence
        6.3.6.	Pendant une durée de 3 secondes, la transition s’effectue   
        6.3.7.	La transition commence et se termine lentement
 */

.dv_ti:hover{/*6.3.4.	Lorsque la souris passe au-dessus du <div>, effectuez la transition */
    transition: width,1s,3s, ease-out; /*1ere methode*/
    transition-property : width;/*proriete de la transition*/
    transition-delay : .05s ;/*6.3.15.	Après un délai d’attente  d’ ½ seconde*/
    transition-duration: 3s ;/*6.3.16.	Pendant une durée de 3 secondes, la transition s’effectue*/
    transition-timing-function : ease-out ;/*6.3.7.	La transition commence et se termine lentement. */
    transition: width,2s,3s, ease-out; /*1ere methode*/
    border-radius: 0px;/*6.3.8.	Les coins arrondis du <div> deviennent carrés*/
    border-width: 18px;/*6.3.9.	La bordure s’épaissie du triple de sa largeur*/
    border-style: outset;/*6.3.10.	La bordure adopte un style 3D à votre choix*/
    border-color: purple;/*6.3.11.	La couleur de la bordure devient de couleur pourpre*/
    background-color:black;/*6.3.18.	La couleur de l’arrière-plan du <div> devient noire*/
  /*  
  Les écritures qui peuvent changer de couleurs sont celles qui avaient leur couleur de base.
  Donc, seulement celles qui n’avaient jamais été affectées par la  propriété : « color ».
 */      color: white;/*6.3.19.	La couleur des polices non modifiées à l’intérieur du <div> devient blanche */
    font-weight: bolder;/*6.3.19.	devient blanche    et très très grasse */
}
@keyframes Balon
 { /*Generiques*/
  /* position/duree en %
                      { coprs des operations
                          methode background-color:
                            parametre couleur: #0000ff;
                            parametre position Y: top:0px; 
                            parametre position X: Left: 0px;
                      } 
   */
   /*
   Défi optionnel_    Raffinez votre animation
Lors de chaque chute (vers le bas    ) votre balle sera circulaire.
Lors de chaque rebond (vers le haut ) votre balle sera de forme carré
Et à la fin de l’animation, lorsque votre balle sera revenue à son point 
de départ, votre balle devra être circulaire
*/
  0%,100%{ background-color: #0000ff; top:0px; Left: 0px; }
  10%,90%{ background-color: #7c2d22; top:535px; Left: 400px;}
  20%,80%{ background-color: #013232; top:80px; Left: 450px;border-radius:0%;}
  27%,73%{ background-color: #633631; top:535px; Left: 600px;border-radius:50%;}
  34%,66%{ background-color: #901725; top:200px; Left: 650px;border-radius:0%;}
  38.5%,61.5%{ background-color: #831856; top:535px; Left: 700px;border-radius:50%;}
  43%,57%{ background-color: #490353; top:350px; Left: 725px;border-radius:0%;}
  45.5%,54.5%{ background-color: #FF00FF; top:535px; Left: 750px;border-radius:50%;}
  48%,52%{ background-color: #fe0076; top:500px; Left: 760px;border-radius:0%;}
  50%{ background-color: #51FF00; top:535px; Left: 770px;border-radius:50%;}
}
