:root{
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 45%;
    flex-grow: 1;
}
#TextArea1
{
    height: 160px;
    width: 523px;
    text-align: left;
}
form{

    background-position: -1px -1px; 
    border: 1px solid #808080; 
    margin: 2px; 
    padding: 3px; 
    text-align: center; 
    background-color: #C0C0C0; 
    background-repeat: no-repeat; 
    background-image: url('bandeau-page-cegep-vert.jpg'); 
    background-attachment: fixed; 
    z-index: auto; 
    position: relative; 
    visibility: visible; 
    overflow: auto; 
    table-layout: auto; 
    border-collapse: collapse; 
    border-spacing: 1px; 
    empty-cells: show; 
    caption-side: top;
}
header{
    position: relative; 
    width: 100%;
    height: 5%;
    border: #0000FF 3px dotted;
}
img{
    position: relative; 
    height: 120px;
    object-fit:fill;
    text-align: right;
}
table{
    position: relative; 
    border-radius: 13%;
    border-color: blueviolet;
    border-width: .5%;
    border-style: double;
    empty-cells: show;
    border-collapse: separate;
}
body{
    padding: 0%;
    margin: 0%;
    background-attachment: fixed;
    background-color: #cccccc;
    background-image: image("MaRegionNatale.jpg");
    color: #0000ff;
}
textarea{
    font-family: Calibri; 
    font-size: medium; 
    font-weight: normal; 
    font-style: oblique; 
    font-variant: small-caps; 
    text-transform: capitalize; 
    color: #0000FF; 
    text-indent: 1px; 
    white-space: normal; 
    word-spacing: 1px; 
    letter-spacing: 2px; 
    background-image: url('baniere.png'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: left bottom; 
    border: 2px double #008080; 
    position: relative; 
    z-index: auto; 
    width: 738px; 
    height: 163px; 
    top: 26px; 
    right: -74px; 
    bottom: -26px; 
    left: 74px; 
    display: block; 
    float: left; 
    clear: both; 
    cursor: text; 
    overflow: scroll; 
    visibility: visible;
   content:var("Patrice Waechter-Ebling 2022");}
form{
    top: 201px; 
    left: 317px;
}