/*
    Patrice Waechter-Ebling 
    création 21-05-2022
    mise à jour 3

*/
*{
    padding: 2px;
}
:root{ /* initialisons la page web*/
    border: #081801 3px dotted; /*delimiter l'espace Web*/
    padding-left: 1px;/*pour bien voir la bordure gauche*/
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
    /*plein espace affichable WEB*/
    width: 99.5%;
    height: 98.7768%;
    /* mon choix de police */
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 12pt;
    font-weight: normal;
    font-display:calc(fallback);
    font-variant: normal;
    text-transform: none;
    justify-content: left;


}
/*resolution x992 pour tablette*/
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
      width: screen;

    }
    .divA
    {
      background-color:#ccc6c663 ;
      color: darkblue;
      width: screen/2;
    }
    .divB
    {
        background-color:#99FF66 ;
        color: #081801;
        width: 48%;
    }
    .divC{
        background-color:#FFFF00 ;
        color: chocolate;
        width: 48%;
    }
    .divD{
        background-color:#c48cc4 ;
        color: blueviolet;
    

  }
}
  
  /* Resolution x600 pour cellulaire */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }
*{
    padding: 2px;
}
div{ /*mets une bordure a tous les div*/
    border: #0000FF 1px solid;
}
body
{
    position:fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
   /*Positionnement dans la zone Root*/
    margin: 0%;
    padding: 0%;
    width: 99.785%;
    height: 97.569%;
    border-color:blueviolet; /*bordure de body a ne pas confondre avec bordure Root*/
    border-width: 4px;
    border-style: double;
    text-decoration: none;
}
footer{
    text-align: left;
    background:radial-gradient(closet-side at 8% 15%,rgba(125, 241, 125, 0.301),rgba(49, 172, 76, 0.623) 35%,rgba(7, 102, 7, 0.822) 55%); /*couleur de fond*/
    position:absolute;
    top:89.3751%;
    border:double;/*Ligne continue*/
    border-color: #0a2b01;/*ouleur vert foncée avec le mode hexadécimal*/
    border-width:3.5px;/*d’une épaisseur de 3,5 pixels*/
    /*Le dégradé va toucher le côté le plus proche de son centre.*/
     /*vertical-align: middle; /*centrage vertical*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*align-items: stretch;*/
    align-content: flex-end; /*le met en bas*/
    justify-content: left;
    height: 9%;
}
/*Il faut tenir compte que le conteneur nav est a la fois parent et enfant
    enfant de body
    parent de A,B,C,D
*/
nav{ /*volet de navigation*/ 
   position: absolute;
    top:15.1871%; /*hauteur de placement su volet de navigation*/
    border-radius: 2%; /*arrondi de la bordure*/
    border-color: chartreuse;/*couleur de la bordure*/
    border-width: 2px;/*epaisseur bordure*/
    border-style: ridge;/*effet 3D de la bordure*/
    /*est il bien utile de commenter la section Flexbox????*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content:space-around;
    height: 5%; 
}
/*Il faut tenir compte que le conteneur section est a la fois parent et enfant
    enfant de body
    parent de 3,4,5,6,7,8
*/
section{
    top:22.1735%;
    position: absolute;
    border-radius: 3%; /*arrondi de la bordure*/
    border-color:darkolivegreen;/*couleur de la bordure*/
    border-right-width: 2px;/*epaisseur bordure*/
    border-style: outset;/*effet 3D de la bordure*/
    /*est il bien utile de commenter la section Flexbox????*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content:space-around;
    height: 64.9645%; 
}
.PleineLargeur
{
     width: 99.245%;
}
body>header>img /* ajustement de l'image dans la banniere*/
 {
  width: 100%;
  height: 100%;
 }

.ConteneurGrandParent
{
    display: flex;
    flex-basis:98%;
    flex-direction:row;
    flex-wrap: wrap;
    font-size: 20px;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: stretch;
    justify-items: flex-start;
}

body>header{ /*Entete*/
    position:relative;
    flex-basis: 100%;
    border:solid;/*Ligne continue*/
    border-color: #82e3ea;/*De couleur bleu ciel avec le mode hexadécimal*/
    border-width:3.5px;/*d’une épaisseur de 3,5 pixels*/
    background-color: #60CA99;/*couleur de fond*/
    background-repeat: no-repeat;/*repetion image =0*/
    background-position-x: right;/*colle límage a droite*/
    height:12%;/*hauteur de léntete*/
}

.souligne{
    text-decoration: underline;
}
.marge{
    margin: 3px;
}
.espace{
    padding: 5px;
}
.divA
{
  background-color:#ccc6c663 ;
  color: darkblue;
}
.divB
{
    background-color:#99FF66 ;
    color: #081801;
}
.divC{
    background-color:#FFFF00 ;
    color: chocolate;
}
.divD{
    background-color:#c48cc4 ;
    color: blueviolet;

}
.div3{    
    background-color:#cab9ca ;
    flex-basis: 31%;
    color: blueviolet;
    height: 60%;
}
.div4{    background-color:#d9e9c4 ;
    margin-top: 8px;
    flex-basis: 31%;
    color: blueviolet;
    height: 59%;
}
.div5{
    background-color:#add1f1 ;
    flex-basis: 31%;
    color: blueviolet;
    height: 60%;

}
.ConteneurParent{
    display: flex;
    box-sizing:border-box;
    flex-flow:row wrap;
    align-items:center;
    flex-shrink: 0;
    flex-grow: 0;
    align-content: space-around; 
    justify-content:space-evenly;
    justify-items: left;
    border: 3px double #0000FF;
    flex-basis: 75%;
}
.div6{    
    background-color:#eeedba ;
    flex-basis: 15%;
    height: 99%;
    color: blueviolet;
}
.div7{    
    background-color:#f3d7b7 ;
    flex-basis: 48%;
    height:32%;
    color: blueviolet;
}
.div8{    
    background-color:#ddbbdd ;
    flex-basis: 48%;
    height:32%;
    color: blueviolet;
}
.ItemEnfant{ /*controle les boite A,B,C,D du menu nav */
    display: flex;
    box-sizing:border-box;
    flex-flow:row wrap;
    flex-basis: 22%;
    align-items:center;
    flex-shrink: 1;
    flex-grow: 0;
    align-content: space-around; 
    border: 3px double #0000FF;
    border-radius: 8%;
}
.ItemEnfantSection{ /*controle les boite 3,4,5,6,7,8 de section  */
    display: flex;
    box-sizing:border-box;
    flex-flow:row wrap;
    flex-basis: 24%;
    align-items:center;
    flex-shrink: 0;
    flex-grow: 0;
    align-content: space-around; 
    border: 3px double #0000FF;
    border-radius: 8%;
}.couleur_rouge{
    color:#FF0000;
}
.couleur_mauve{
    color:#8D3F8D;
}
