/*
    Patrice Waechter-Ebling 
    creation 22-04-2022
    mise à jour 3
*/

/********************************************************************

/*Les sélecteurs*/
body {
 
margin:0;
padding:0;
}
h1
{
      color:#44649A;
}
h2
{
    color:#F19C63;
}
h3
{
    color:#01B051;
}
h4
{
    color:#6F309D;
}

/* Les Classes */

.divTitres{ 
    position:absolute;
    width: 54%;
    font-size: 11px;
    font-family: Calibri;
  /*  border: 4px solid black;    */
}
.Conteneur_Parent_Flexible
{
    position:absolute;
    display: flex;
    flex-direction:column-reverse;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    left: 185px;
    top: 180px;
    width: 80%;
    height: 380px;
    font-size: 20px;
    font-family: Calibri;
    background-color: #0ad;
    border:2px solid blue;
    box-sizing: border-box;

}
.items_flexibles_enfants {
    display: flex;
    flex-flow:column-reverse;
    flex-wrap: wrap-reverse;
    flex-basis: auto;
    align-items:center;
    box-sizing: border-box;
    background-color: #0da;
    border-style:solid; /*ligne pleine*/
    justify-content: center; /*la lettre au centre*/
    box-sizing:border-box;
    height: fit-content;
    justify-content:space-evenly;
    justify-tracks: 1;
    padding: 5px; /*sugestion du prof pour augment plus la taille des boites*/
}
.espacement_enfants{
margin-left:5px;
margin-bottom:5px;
margin-top:5px;  

height:25%;

}

/*Les ID*/
#a
{
    background-color: #ABF1CB;
    border-color: #2CD079;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    font-style: oblique;
 }
#b
{
    background-color:#EFEFAD;
    border-color: #DAD650;
    flex-grow: 2;
    margin: 25px;
  } 
#c
{
    background-color: #E0BCDC;
    border-color: #B870B0;/*Personalisation des polices d`ècritures*/
    font-family: 'Times New Roman';
    font-size: 72px;
    font-style: italic;
    font-stretch: ultra-expanded;
    flex-grow: 1;
    font-weight: bolder;
    text-decoration-style: wavy;
    align-content: space-between;
}
#d
{
   background-color: #FFF1C5;
   border-color: #FFFFF3;
}
#e
{
    background-color: #CDCDFF; /*Personalisation des polices d`ècritures*/
     border-color: #00008B;
     font-family: 'Times New Roman';
     font-size: 72px;
     font-style: italic;
     font-stretch: ultra-expanded;
  /* flex-grow: 5;*/
     font-weight: bolder;
     text-decoration-style: wavy;
   }
