/*
    Patrice Waechter-Ebling 
    creation 17-04-2022
    mise à jour 3
*/

/*
0.1.	Tout le contenu de la page Web  DOIT  entrer totalement dans un écran d’ordinateur portable.
Pour tout voir, le correcteur NE DOIT PAS avoir besoin de DÉFILER dans aucun sens.
Le correcteur corrigera vos sites Web de ce TP-Web-05  sur un écran d’ordinateur portable. 
 Il utilisera la résolution d’affichage : (recommandé)  avec une taille de texte à 125 %.
Testez vos sites Web avant de les remettre avec exactement les mêmes paramètres.

Note :	Lorsque je vous demande de colorier quelque chose, si dans la consigne, je ne spécifie pas l’approche; par exemple via le nom de la couleur CSS, ou via le mode RGB, ou via la numération hexadécimale, cela signifie que vous pouvez utiliser l’approche que vous désirez, en autant que la couleur soit la bonne.  Ici, dans ce numéro 1.9 , je ne spécifie pas la façon de colorier l’écriture, vous pouvez donc utiliser le mode  qui vous plaît.
*/
/********************************************************************


/*
0.10.	Commentez abondamment  en FRANÇAIS votre code  CSS 
*/
body {
    padding-left: 2px; /*pas essentiel mais fais plus beau visuellement*/
    margin: 0px;
    position: absolute; 
    width: 98%;
    height: 50%;
  }
.divTitres
{
/*
1.3.	Les quatre titres en haut de la page doivent être insérés à l’intérieur d’un <div> parent 
sans bordure  (donc le  <div> est invisible pour les internautes, seul le programmeur connaît sa présence).
Cependant, pour vous assurer de très bien visionner les dimensions de ce <div> parent, dans un premier temps, vous allez programmer une bordure de couleur marine, d’une épaisseur de 
4 pixels  de style ligne continue.
*/
 /*
1.5.	Le conteneur  .divTitres doit être de dimension suffisamment grande
pour contenir tout le contenu écrit; donc pas trop petit
*/
     position:relative;
 /*1.8.	Après avoir réussi à trouver la bonne dimension pour le .divTitres,
vous devez trouver la dimension équi-valente, mais cette fois-ci en utilisant une valeur en pourcentage ( % ). 
Le mot important dans cette con-signe est : « équivalente ».  
Encore là, vous devrez effectuer quelques essais-erreurs pour y arriver.  
Dans le programme que vous remettrez dans  LEA / TRAVAUX  laissez les valeurs en pourcentage ( % ).  
Il est fort possible que vous deviez utiliser des nombres avec décimales.
    width: 52.5%;
    height: 92%;*/
    margin: 2px auto;
   /* border: 4px solid black;    */
}
h1
{
    color:#44649A;
}
h2/*1.9.	Colorez le contenu écrit du 2ième titre de la même couleur que le contour de l’infobulle.*/
{
    color:#F19C63;
}
h3
{
    color:#01B051;
}
h4
{
    color:#6F309D;
}
/*
1.11.3.	Dans votre code HTML, associez ce 2ième <div> à une class nommée :   .Conteneur_Grand_Parent
 modele web lecon 5 Page 5
1.11.4.1.	Utilisez le pourcentage ( % ) pour dimensionner ce  .Conteneur_Grand_Parent      flexible
1.12.3.	À l’aide de votre code CSS, transformez ces trois <div> enfants en : items flexibles
1.12.4.	En plein centre (horizontalement et verticalement) de chacun de vos deux premiers items flexibles enfants,
 inscrivez le contenu que vous apercevez dans l’illustration,  au-dessus du No 1.1 ( à la page 2, ci-haut ).
1.12.5.	Les items flexibles enfants A, B et C  ne doivent pas toucher aux bordures du haut et du bas ap-partenant au  
.Conteneur_Grand_Parent.  
1.12.6.	Horizontalement, les items flexibles enfants A, B et C  doivent être espacés les uns des autres, d’un espace égal.  
L’espace qui sépare la bordure gauche du   .Conteneur_Grand_Parent de la bordure gauche de l’item enfant A
et l’espace qui sépare la bordure droite du   .Conteneur_Grand_Parent de la bordure droite de l’item enfant C
DOIT aussi être égal à l’espace que l’on retrouve entre les items enfants A, B et C.
Tous ces espacements ( de ce numéro 1.12.6. )  relèvent de propriétés FlexBox.
1.12.12.	Concernant les trois items flexibles enfants A , B  et C  ,   
ce sont donc des propriétés FlexBox en lien avec l’axe Principal qui   
DOIVENT gérer la dimension de la largeur des items flexibles enfants A , B et C
1.14.	Les items flexibles enfants A , B et C  doivent être séparés horizontalement  les uns des autres à égale distance. 
 ( Il est possible que l’illustration produite en Word ne soit pas parfaite au millimètre près, mais elle fournit un aperçu satisfaisant ).
Ceci doit être fait uniquement avec une propriété FlexBox.  Donc, ici, pour gérer cette consigne 1.14. ,
on ne doit pas apercevoir de propriété CSS  « margin » (qui devrait en principe être totalement inutile ).
1.15.	Au centre des items flexibles enfants  A  et  B , on aperçoit les lettres :  A  et  B.  Mais au centre de 
l’ .item_enfant_C,    la lettre  C  n’apparaît pas.
1.15.1.	Il est possible de centrer (verticalement et horizontalement ) facilement le contenu écrit au centre
 des items enfants flexibles à l’aide d’une triple combinaison de propriétés FlexBox :
Associez ces trois déclarations aux items enfants flexibles ( une seule déclaration par ligne ) :
display : flex ;  	/	justify-content : center ;	/	align-items : center ;
1.16.	Les items flexibles enfants A , B et C  doivent être séparés de la bordure de leur .Conteneur_Grand_Parent  
 avec la même distance ( que la distance entre les items flexibles enfants ).*/

.Conteneur_Grand_Parent
{
   /* position:absolute;*/
/*
1.11.3.1.	Codez votre CSS pour que ce <div> soit considéré comme un : Conteneur parent flexible
1.13.	L’axe principal de ce Conteneur flexible      .Conteneur_Grand_Parent est : « Horizontal »  (   ).
*/
    display: flex;
    flex-basis:80%;
    flex-direction:row;
    font-size: 20px;
    border:2px solid navy;
    box-sizing: border-box;
   justify-content:space-evenly;
/*1.19.	Sur l’axe secondaire (  ), les trois items enfants A , B et C  doivent occuper toute la hauteur du
    Conteneur Grand-parent flexible.  La déclaration qui permet de réaliser cette consigne doit être visible
    dans votre code CSS.
1.19.1.	***  Pour gérer la hauteur des trois premiers items flexibles enfants, vous  DEVEZ  OBLI-GATOIREMENT
    utiliser la valeur par défaut : « stretch » avec une propriété FlexBox.  ***   */
    align-items: stretch;
/*
1.11.4.	Donnez à ce Conteneur parent flexible, une dimension similaire à l’illustration ( de la page 2, ci-haut ), 
( au niveau de sa proportion par rapport à son parent <body> ).  
Similaire signifie semblable à l’œil.  Votre correcteur n’ira pas mesurer avec une règle micrométrique.
*/
    left:2.5%;
    top:32%;
    height:330px;
}
/*
1.12.9.1.	*** Dans votre code CSS, utilisez la class  .Conteneur_parent_C  , lorsque les déclara-tions
    associées, relèvent de ses fonctions de  Conteneur parent
1.21.	Votre troisième item flexible enfant doit maintenant devenir à son tour un Conteneur parent flexible.
*/
.Conteneur_parent_C {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    align-content: flex-start;
    justify-content:space-evenly;
    flex-basis: 100%;
    border: 4px solid #0b610b;
  }
/*
1.12.3.	À l’aide de votre code CSS, transformez ces trois <div> enfants en : items flexibles
1.12.4.	En plein centre (horizontalement et verticalement) de chacun de vos deux premiers items flexibles
    enfants, inscrivez le contenu que vous apercevez dans l’illustration, au-dessus du No 1.1 
    ( à la page 2, ci-haut ).
1.12.5.	Les items flexibles enfants A, B et C  ne doivent pas toucher aux bordures du haut et du bas
    appartenant au  .Conteneur_Grand_Parent.  
1.12.6.	Horizontalement, les items flexibles enfants A, B et C 
    doivent être espacés les uns des autres, d’unespace égal. 
    L’espace qui sépare la bordure gauche du   .Conteneur_Grand_Parent de la bordure gauche de l’item
    enfant A et l’espace qui sépare la bordure droite du   .Conteneur_Grand_Parent de la bordure droite 
    de l’item enfant C
DOIT aussi être égal à l’espace que l’on retrouve entre les items enfants A, B et C.
Tous ces espacements ( de ce numéro 1.12.6. )  relèvent de propriétés FlexBox.
1.12.12.	Concernant les trois items flexibles enfants A , B  et C  ,   ce sont donc des propriétés FlexBox
    en lien avec l’axe Principal qui   DOIVENT gérer la dimension de la largeur des items flexibles enfants
    A , B et C
1.14.	Les items flexibles enfants A , B et C  doivent être séparés horizontalement (   ) les uns des autres
    à égale distance. ( Il est possible que l’illustration produite en Word ne soit pas parfaite au millimètre près,
    mais elle fournit un aperçu satisfaisant ).
    Ceci doit être fait uniquement avec une propriété FlexBox.  
    Donc, ici, pour gérer cette consigne 1.14. ,
    on ne doit pas apercevoir de propriété CSS  « margin » 
    (qui devrait en principe être totalement inutile ).
1.15.	Au centre des items flexibles enfants  A  et  B , on aperçoit les lettres :  A  et  B. 
    Mais au centre de l’ .item_enfant_C,    la lettre  C  n’apparaît pas.
1.16.	Les items flexibles enfants A , B et C  doivent être séparés de la bordure de leur 
    .Conteneur_Grand_Parent avec la même distance ( que la distance entre les items flexibles enfants ).
1.17.	Les items flexibles enfants A et B   doivent avoir exactement de la même couleur d’arrière-plan que
    celle que l’on retrouve dans l’illustration ci-haut.  
    Utilisez l’application pour les couleurs que le prof a dé-posé dans : LEA 
    Pipette pour la gestion des cou-leurs
1.18.	À l’aide des propriétés CSS de type « FlexBox »
1.18.1.	Les trois items flexibles enfants A , B et C  doivent suivre l’ordre dans lequel ils apparaissent dans
    le code HTML


*/
.itemflex_enfant_A_B {
/*
1.12.8.	Dans votre code CSS, lorsque vous programmez quelque chose qui doit s’appliquer aux
deux premiers items flexibles enfants ( A et B ), vous devez utiliser le nom de la class : .itemflex_enfant_A_B
1.12.10.	*** La dimension de la largeur des items flexibles enfants A et B   DOIT être programmée avec une valeur en pourcentage ( % ). Celle-ci doit être affectée à la bonne propriété FlexBox . ***
1.12.10.1.	Les deux premiers items enfants ( A et B ) devront avoir la même largeur 
( en pourcentage %  ) avec la bonne propriété FlexBox
1.12.11.	La largeur des items flexibles enfants A et B devra être similaire à celle des items flexibles en-fants que vous apercevez dans l’illustration en haut de ce numéro 1.

    */
    display: flex;
    box-sizing:border-box;
    flex-flow:row wrap;
    flex-basis: 20%;
    align-items:center;
    flex-shrink: 3;
    flex-grow: 0;
    align-content: space-around; 
    justify-content: center;
  /*  height:97%;*/
    border: 1px solid #010101;
     /*
    1.12.10.1.	Les deux premiers items enfants ( A et B ) devront avoir la même largeur 
    ( en pourcentage %  ) avec la bonne propriété FlexBox
    1.12.11.	La largeur des items flexibles enfants A et B devra être similaire à celle des items flexibles en-fants que vous apercevez dans l’illustration en haut de ce numéro 1.
    */
    background-color: #0da;
    /*   padding: 100px 0px;
 text-align: center;
     box-sizing: border-box;
 *    /*   align-items : center;*/
}
/*
1.12.9.2.	***  Dans votre code CSS, utilisez la class  .item_enfant_C   lorsque les déclarations associées, relèvent de ses fonctions d’item enfant flexible.
*/
.Item_Flexible_Enfant_C {
/*1.12.9.1.	*** Dans votre code CSS, utilisez la class  .Conteneur_parent_C  
lorsque les déclara-tions associées, relèvent de ses fonctions de  Conteneur parent
1.12.10.2.	Et l’ .Item_Flexible_Enfant_C  devra être affecté d’une largeur plus grande avec la bonne
    propriété FlexBox
1.20.	Autant la grosseur du .Conteneur_Grand_Parent flexible que celle des items flexibles enfants
    doit être similaire à celle de l’illustration (située à la page 2 ).

1.19.	Sur l’axe secondaire (  ), les trois items enfants A , B et C  doivent occuper toute la hauteur du 
Conteneur Grand-parent flexible.  
La déclaration qui permet de réaliser cette consigne doit être visible dans votre code CSS.
*/
    height: 97%;
    flex-basis: 80%;
    /*padding: 100px 0px;*/
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start ;
    
    align-items: flex-end;
    flex-direction: row;
    margin: 5px;
    padding: 0.5%;
    /*1.15.	Au centre de l'items  .item_enfant_C,    la lettre  C  n’apparaît pas.*/
}
.espacement_enfants{
    margin-left:5px;
    margin-bottom:5px;
    margin-top:5px;  
}
#a
{
    background-color: #F3A9EA;
}
#b
{
    background-color:#D2C0DC;
} 
#d
{
    background-color: #FACEA2;
}
#e
{
    background-color: #D2FAA2;
    flex-grow:1;
}
#f
{
    background-color: #9EC7FE;
    flex-grow:2;
}
#g
{
    background-color: #C4D5D8;
}
.Item_Flexilbe_Petit_Enfant 
{
    flex-basis: 29.75%;
    flex-shrink: 0;
}
.item1 {
    margin: 2px;
    padding: 3px;
    border-color: rgb(1, 170, 255);
    border-width:1px;
}