/*
    Patrice Waechter-Ebling 
    creation 24-04-2022
    mise à jour 0
    site de reference prefere pour le CSS directement a la source :P
    https://developer.mozilla.org/de/docs/Web/CSS
*/


body 
{
    padding-left: 2px; /*pas essentiel mais fais plus beau visuellement*/
    margin: 0px; /*methode pour bien commencer aux coordonnees(0.0)*/
    position: fixed; /*arriere plan fixe*/
    width: 99.5%; /*largeur body pas 100% a cause du paddin left*/ 
    height:99%;/*hauteur body*/
  }
.Conteneur_Parent_Flexible {
    display: flex; /*init flex*/
    position: relative; /*position relative*/
    flex-basis: 20%; /*largeur item*/
    justify-content:space-around;
    align-items: baseline; /*aligne les itemes sur le bas de la police d'écriture*/
    height: 99%; /*axe Y ne pas oublier de compter la bordure du div parent dans le calcul de la hauteur*/
    flex-wrap: wrap-reverse; /*1er a partir de la droite*/
    flex-direction: row-reverse; /*1er a partir du bas*/
    border-color: black; /*couleur bordure*/
    border-style: solid; /*style de bordure ici ligne pleine*/
    border-width: 4px; /*larggeur de la bordure en px*/
    flex-shrink: 1; /*shink des items permis*/
    flex-grow:1;
    align-content:flex-start; 
   /*text-align: center;*/
    box-sizing: border-box; /*Source MDN :l'utilisation de box-sizing: content-box permet aux valeurs de 
        positionnement d'être relatives au contenu, et indépendantes des changements de taille des bordures 
        et de la taille de la marge interne, ce qui est parfois préférable.*/
}
.itemflex {
    display: flex;
    flex-basis: 19%; /*largeur par defaut des items avant transformation 5/ligne*/
   flex-wrap: wrap-reverse; /*1er a partir de la droite*/
    flex-direction: row-reverse; /*1er a partir du bas*/
   align-items:flex-start;
    justify-content: space-around; /*meme espace partout*/
   /* border-color: Blue; /*couleur bordure*/
    border-style:solid; /*style de bordure ici ligne double pour bien differencier 
        sera remplacee par solide a la fin*/
    border-width: 3px; /*larggeur de la bordure en px*/
   padding-bottom: 5px; /*grossir les cases*/
    margin-bottom: 5px; /*decole les lignes*/
}

#item1 {
    background-color: #92D050;
    border-color: #2B8200;
}
#item2 {
    background-color: #FFFF00;
    border-color: #C0BC00;
}
#item3 {
    background-color: #F8CBAD;
    border-color: #9E6900;
}
#item4 {
    background-color: #D0CECE;
    border-color: #807A7A;
}
#item5 {
    background-color: #CC66FF;
    border-color: #B400B4;
}
#item6 {
    background-color: #66CCFF;
    border-color: #01AAFF;
}

#item7 {
    background-color: #99FF66;
    border-color: #3FBC00;
    flex-basis:30%;
}
#item8 {
    background-color: #FFCC66;
    border-color: #D68F00;
   /*
       source MDN (mozilla SDK) 
       ref"developer.mozilla.org/de/docs/Web/CSS/CSS_Flexible_Box_Layout/Ordering_Flex_Items"
        order definit l'index a prtir de 0 donc la place 9 revient a 9-1=8 
        exactement comme un tableau int
       si je mets une valeur de -1 il ira se placer avant líndex 0
    */
    order:8; 
     
}
#item9 {
    background-color: #FF7C80;
    border-color: #FF2D32;
    flex-basis:7%;
    order:7;
}
#item10 {
    background-color: #FF66FF;
    border-color: #DE00DE;
    flex-basis: 8%;
    order:9;
}

