body{
    margin: 0;
    padding: 0;
    height: 99%;
    width: 99.5%;
    position: fixed;
}
p{
    text-shadow: 12px #00ffc9;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    font-display:2;
    color: blueviolet;
}
a{
    float: right;
    top:90%;
    justify-content:stretch;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    color: crimson;
}
