




/* 2.2.1.5.	le h2, 				à la class :	C_h2*/
h2{
    color:teal;
}
/* 2.2.1.4.	la 1ère liste à puces imbriquée <ul>		 	à la class :	C_ul1*/
.C_ul1{
    color: #FF0000;
}
/* 2.2.1.1.	h1 et 1er paragraphe				à la class : 	C_h1_p1*/
.C_h1_p1{
 color: blue;
}
h1{
    color: blue;
}
.C_h2{
    color: limegreen;
}
/* 2.2.1.7.	2ième paragraphe				au id :		i_p2*/
#i_p2{
    color: limegreen;
}
/* 2.2.1.3.	3ième paragraphes				au id : 		i_p3*/	
#i_p3{
    color: blue
}
/* 2.2.1.6.	la 2ième liste <ol> (régions de Grande-Bretagne)		à la class :	C_ol2*/
#C_ol2{
    color: limegreen
}
/* 2.2.1.8.	Puce Canada				au id :		i_Can*/
#i_Can{
    color: purple;
}
/* 2.2.1.2.	1er paragraphe seulement				à la class :	C_p1*/
#i_p1{
   color:blue;
}
#p2{
   color:rgb(00,176,80) ;
}
/* 2.2.1.9.	Puce Grande-Bretagne				au id :		i_GB*/
#i_GB {
   color:green;
}