@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    <table>
        <tr> Xavier et Patrice présentent laboratoire 2</tr>
        <td>
            <form asp-controller="Administrateur" asp-action="index">
                <input type="submit" name="inscrire" value="S'inscrire" />
            </form>
        </td>
    <td>
        <form asp-action="Client">
            <input type="submit" name="action" value="Consulter son panier" />
        </form>
    </td>
    </table>
</div>